<div ng-show="!$ctrl.selectedList">
    <div>
        <button ng-click="$ctrl.addItem($ctrl.itemToAdd)">Add New List</button>
        <input type="text" ng-model="$ctrl.itemToAdd">
    </div>
    <div class="border">
        <table>
            <tr ng-repeat="listItems in $ctrl.listItems ">
                <td>
                    <img ng-click="$ctrl.markComplete(listItems)" class="icon" ng-src="{{listItems.icon}}">
                </td>
                <td>
                    <span style="cursor: pointer" ng-click="$ctrl.selectList(listItems)">{{ listItems.name }}</span>
                </td>
                <td>
                <button ng-click="$ctrl.remove(listItems)"><img src="images/delete.png" class="icon"></button>
                </td>
            </tr>
        </table>
    </div>
    <button ng-click="$ctrl.deleteCompleted()"> Clear all Completed Lists</button>
</div>

<task selected-list="$ctrl.selectedList"></task>
