<div ng-show="$ctrl.selectedList">
    <p> Selected List: {{ $ctrl.selectedList.name }}</p>

    <div ng-repeat="task in $ctrl.selectedList.taskList">
        <td>
            <img ng-click="$ctrl.markComplete(task)" class="icon" ng-src="{{task.icon}}">
        </td>
        <td>
            <span>{{ task.name | custom }}</span>
        </td>
        <td>
            <button ng-click="$ctrl.remove($ctrl.selectedList, task)"><img src="images/delete.png" class="icon"></button>
        </td>
    </div>

    <form name="validation" ng-submit="$ctrl.addItem($ctrl.selectedList, $ctrl.itemToAdd)">
        <button type="submit" ng-disabled="validation.taskInput.$invalid">Add New Task</button>
        <input name="taskInput" required type="text" ng-model="$ctrl.itemToAdd">
    </form>
    <button ng-click="$ctrl.goBack()"> Go Back</button>
    <button ng-click="$ctrl.deleteCompleted($ctrl.selectedList)"> Clear all Completed Tasks</button>

</div>